<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </p>

  <p>
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.label :tickets %><br>
    <%= f.number_field :tickets %>
  </p>

  <p>
    <%= f.label :games %><br>
    <%= f.number_field :games %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%end%>
