<h1>Wer ist alles anwesend?</h1><br>

<table>
  <tr>
    <% @users.each do |user| %>
    <td align="center" >
      <p><%= user.nickname %></p>
    </td>

    <% end %>
  </tr>

<tr>
  <% @users.each do |user| %>
    <td>
      <% if user.active %>
        <%= link_to image_tag('call.png', alt: '"designed by freepic', size: '128' ), url_for({controller: :shuffle, action: :toggleactive, id: user.id}) %>
      <% else %>
        <%= link_to image_tag('chair.png', alt: '"designed by freepic', size: '128' ), url_for({controller: :shuffle, action: :toggleactive, id: user.id})  %>
      <% end %>
    </td>
  <% end %>

</tr>
</table>
<br>
<br>
<br>
<h1>Bereit ein Spiel zu spielen?</h1>
<p>
  <%= link_to 'Shuffle', shuffle_path%>
</p>
<br>
<br>
<br>

<%= link_to 'Startseite', root_path %>
<%= link_to 'Supporter', users_path %>
