<h1>Wer ist alles anwesend?</h1><br>

<table>
  <tr>
    <% @users.each do |user| %>
    <td>
    <% if user.active %>
      <p><font color="green"><%= user.nickname %> ist <%= user.active %></p>
    <% else %>
      <p><font color="red"><%= user.nickname %></p>

    </td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <% @users.each do |user| %>
      <td>
        <%= link_to 'toggle anwesenheit', controller: :shuffle, action: :toggleactive, id: user.id %>
      </td>
    <% end %>
  </tr>
</table>
<br>
<br>
<br>



<%= link_to 'Startseite', root_path %>
<%= link_to 'Supporter', users_path %>
